<% content_for :title, "EngSoc Dash" %>

<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <h4 class="m0 text-thin">Welcome to the Engineering Society Dashboard, <%= @email %></h4><small>The hub for your Queen's engineering career</small>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    Hi <%= @firstname %> <%= @lastname %>.
  </div>
</div>

<div class="container container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="card p">
        <div class="card-heading">
          <div class="card-title">Job Applications</div>
          <small>View or continue job applications</small>
          <div class="pull-right">
            <%= link_to "View All", user_job_applications_path %>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover table-fixed va-middle">
            <tbody>
              <% if @job_applications.any? %>
                <% @job_applications.each do |app| %>
                <tr class="msg-display">
                  <td class="wd-xs">
                    <%= status_label_application(app) %>
                  </td>
                  <td>
                    <strong><%= link_to app.job_posting.title, app.job_posting %></strong> <% if app.status == "draft" %> | <i><%= link_to "Continue Application", new_job_posting_job_application_path(:job_posting_id => app.job_posting.id, :id => app.id) %></i><% end %>
                    <br>
                    <small><%= link_to app.job_posting.job.organization.name, app.job_posting.job.organization %></small>
                  </td>
                </tr>
                <% end %>
              <% else %>
                <p class="text-center">
                  No Job Applications
                </p>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6">
      <div class="card p">
        <div class="card-heading">
          <div class="card-title">Job Interviews</div>
          <small>You've got this, don't worry!</small>
          <div class="pull-right">
            <%= link_to "View All", user_job_applications_path %>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover table-fixed va-middle">
            <tbody>
              <% if @job_interviews.any? %>
                <% @job_interviews.each do |int| %>
                <tr class="msg-display">
                  <td class="wd-sm">
                    <%= status_label_application(int.job_application) %>
                  </td>
                  <td>
                    <strong><%= link_to int.job_application.job_posting.title, int.job_application.job_posting %></strong>
                    <br>
                    <small><%= link_to int.job_application.job_posting.job.organization.name, int.job_application.job_posting.job.organization %></small>
                    <br>
                    <%= int.start_time.strftime("%b %e, %l:%M %p") %> - <%= int.end_time.strftime("%b %e, %l:%M %p") %>
                  </td>
                </tr>
                <% end %>
              <% else %>
                <p class="text-center">
                  No scheduled Interviews
                </p>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card p">
            <div class="card-heading">
              <div class="card-title">Newest Job Postings</div>
              <small>Get involved, gain experience</small>
              <div class="pull-right">
                <%= link_to "View All", job_postings_path %>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-hover table-fixed va-middle">
                <tbody>
                  <% @job_postings.each do |posting| %>
                  <tr class="msg-display">
                    <td class="wd-xs">
                      <%= status_label(posting) %>
                    </td>
                    <td>
                      <strong><%= link_to posting.title, posting %></strong>
                      <br>
                      <small><%= link_to posting.job.organization.name, posting.job.organization %></small>
                    </td>
                    <td>
                      <small>Deadline:</small>
                      <br><%= posting.deadline.strftime("%A, %b %d, %Y") %><% if posting.deadline.future? %> | <%= distance_of_time_in_words(Time.now, posting.deadline) %><% end %>
                    </td>
                    <td>
                      <small>Last Updated:</small>
                      <br><%= posting.updated_at.strftime("%A, %b %d, %Y, %l:%M %p") %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xs-12">
      <!-- Activity feed-->
      <!-- <div class="card">
        <div class="card-heading">
          <div class="pull-right dropdown">
            <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
            <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
              <li><a href="">Last 30 days</a></li>
              <li><a href="">Last week</a></li>
              <li><a href="">Last year</a></li>
            </ul>
          </div>
          <div class="card-title">News Feed</div><small>Engineering Society news</small>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><%= image_tag "centric/user/02.jpg", class: "img-circle thumb32" %></a></p>
          <div class="oh">
            <p><strong class="spr">Adam</strong><span class="spr">posted in</span><a href="">Material</a></p>
            <p class="bl pl"><i>That's awesome!</i></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 hours ago</span></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><%= image_tag "centric/user/04.jpg", class: "img-circle thumb32" %></a></p>
          <div class="oh">
            <p><strong class="spr">Dora</strong><span>added a new task</span></p>
            <p><em class="ion-calendar icon-fw"></em><a href="">Start migration</a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>3 hours ago</span></div>
              <div class="pull-right"><span>2</span><em class="ion-star ml-sm text-warning"></em></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><%= image_tag "centric/user/03.jpg", class: "img-circle thumb32" %></a></p>
          <div class="oh">
            <p><strong class="spr">Kathryn</strong><span class="spr">published</span><a href="">Trip</a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>4 hours ago</span></div>
              <div class="pull-right"><span>2</span><em class="ion-ios-heart ml-sm text-danger"></em></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><%= image_tag "centric/user/05.jpg", class: "img-circle thumb32" %></a></p>
          <div class="oh">
            <p><strong class="spr">Daniel</strong><span class="spr">joined to</span><a href="">Group</a></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>yesterday</span></div>
            </div>
          </div>
        </div>
        <div class="card-body bb">
          <p class="pull-left mr"><a href=""><%= image_tag "centric/user/06.jpg", class: "img-circle thumb32" %></a></p>
          <div class="oh">
            <p><strong class="spr">Leroy Day</strong><span class="spr">wakes up!</span></p>
            <p class="bl pl"><i>That's awesome!</i></p>
            <div class="clearfix">
              <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>2 weeks ago</span></div>
            </div>
          </div>
        </div><a href="" class="card-footer btn btn-flat btn-default"><small class="text-center text-muted lh1">See more activities</small></a>
      </div>
      -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card p">
            <div class="card-body">
              <h4><em class="ion-ios-people icon-fw"></em> Organizations</h4>
              <ul class="list-unstyled text-thin">
                <li class="p"><%= link_to "All Organizations", organizations_path %></li>
                <li class="p"><%= link_to "My Organizations", user_organizations_path %></li>
                <li class="p"><%= link_to "Register a New Organization" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p">
            <div class="card-body">
              <h4><em class="ion-ios-list icon-fw"></em> Job Postings</h4>
              <ul class="list-unstyled text-thin">
                <li class="p"><%= link_to "All Open Postings", job_postings_path %></li>
                <li class="p"><%= link_to "My Applications", user_job_applications_path %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p">
            <div class="card-body">
              <h4><em class="ion-ios-person icon-fw"></em> Profile</h4>
              <ul class="list-unstyled text-thin">
                <li class="p"><%= link_to "Profile", profile_path(current_user) %></li>
                <li class="p"><%= link_to "Edit Profile", edit_profile_path(current_user) %></li>
                <li class="p"><%= link_to "Resumes", profile_resumes_path(current_user) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/slack" %>
