<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      body { width: 600px; }
      .quick-links { margin-top: 50px; }
      .salutation { margin-bottom: 50px; }
    </style>
  </head>
  <body>
    <div>
      <p class="salutation">
        Hi <%= @user.first_name %> <%= @user.last_name %>,
      </p>
      <p>
        You have been scheduled for an interview for the position <%= link_to @job_application.job_posting.job.title, @job_application.job_posting.job %>, for <%= link_to @job_application.job_posting.job.organization.name, @job_application.job_posting.job.organization %> organization.
      </p>
      <p>
        The interview is to be conducted at the following time:
        <br>
        <em>
          <%= @job_application.interview.start_time.strftime("%A, %d %b at %l:%M %p") %> to <%= @job_application.interview.end_time.strftime("%I:%M %p") %>.
        </em>
      </p>
      <br>
      <p>
        Please be at the ILC Student Lounge 15 minutes earlier than your scheduled time.
      </p>
      <p>
        Should you have any questions about the interview, or would like to reschedule, please email <%= mail_to @job_application.job_posting.job.organization.email %>.
      </p>
      <p>
        Otherwise, no further action is needed from you to confirm the interview. You can view all your interviews at <%= link_to "my job applications", user_job_applications_url %>.
      </p>
      <p>
        Best of luck on your interview!
      </p>
    </div>
    <div class="quick-links">
      <h3>Quick links</h3>
      <ul>
        <li><%= link_to "EngSoc Dash", root_url %></li>
        <li><%= link_to "My Job Applications", user_job_applications_url %></li>
      </ul>
    </div>
    <%= render 'shared/mail/footer' %>
  </body>
</html>
