<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @user.first_name %> <%= @user.last_name %>,
    </p>
    <p>
      We're glad to have you on <%= link_to "EngSoc Dash", root_url %>, which can be accessed at <%= link_to root_url, root_url %>.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
    <div>
      <h3>Quick links</h3>
      <ul>
        <li><%= link_to "EngSoc Dash", root_url %></li>
        <li><%= link_to "My Profile", profile_url(@user) %></li>
        <li><%= link_to "Open Job Postings", job_postings_url %></li>
      </ul>
    </div>
    <%= render 'shared/mail/footer' %>
  </body>
</html>
