<%= form_for(interview) do |f| %>

  <%= render 'shared/interview_error_messages' %>

  <% if controller.action_name.eql?("new") %>

    <div class="field">
      <%= f.hidden_field :job_application_id, :value => @job_application.id %>
    </div>

    <div class="field">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time, ampm: true %>
    </div>

    <div class="field">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, ampm: true %>
    </div>

    <hr>

    <div class="actions">
      <%= f.submit "Finish Scheduling", class: "btn btn-primary btn-flat btn-block" %>
    </div>

  <% else %>

    <div class="field">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time, ampm: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, ampm: true %>
    </div>
    <div class="actions">
      <%= f.submit "Finish Editting", class: "btn btn-success btn-flat btn-block" %>
    </div>
  <% end %>
<% end %>

