<% content_for :title, "Admin Job Interviews" %>

<div class="container container-fluid">
  <div class="container container-lg">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-heading">
            <h4>All Interviews</h4>
          </div>
          <div class="mda-list mda-list-bordered">
            <% if @interviews.any? %>
              <% @interviews.each do |int| %>
                <div class="mda-list-item">
                  <div class="mda-list-item-text">
                    <h3><%= link_to int.job_application.job_posting.job.organization.name, int.job_application.job_posting.job.organization %></h3>
                    <h4><%= link_to int.job_application.job_posting.title, int.job_application.job_posting %> - <%= link_to "View Job", int.job_application.job_posting.job %></h4>
                    <h3 class="mv-lg">
                      With <%= link_to int.job_application.user.first_name + " " + int.job_application.user.last_name, profile_path(int.job_application.user) %> / <%= link_to "Application", int.job_application %>
                    </h3>
                    <p>
                      <%= int.start_time.strftime('%A, %B %d, %l:%M %p, %Y') %> - <%= int.end_time.strftime('%A, %B %d, %l:%M %p, %Y') %>
                    </p>
                    <p class="text-thin">
                      Last updated <%= int.updated_at.strftime('%A, %B %d, %l:%M %p, %Y') %>
                    </p>
                    <div class="pull-right">
                      <%= status_label_application(int.job_application) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="lead text-center">No Interviews</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
