<% content_for :title, "Manage Job Interviews" %>
<div class="container-lg container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <%= month_calendar events: @interviews do |date, interviews| %>
            <%= date %>

            <% interviews.each do |interview| %>
              <div>
                <%= interview.job_application.user.first_name %>
                <%= interview.job_application.user.last_name %>
                <br>
                <%= interview.start_time.strftime("%I:%M %p") %>
              </div>
            <% end %>
          <% end %>

          <hr>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Applicant</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Status</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @interviews.each do |interview| %>
                <tr>
                  <td><%= interview.job_application.id %></td>
                  <td><%= interview.job_application.user.first_name %></td>
                  <td><%= interview.start_time.strftime("%b %e, %l:%M %p") %></td>
                  <td><%= interview.end_time.strftime("%b %e, %l:%M %p") %></td>
                  <td>
                    <% if interview.end_time.future? %> 
                      Not Interviewed Yet
                    <% else %>
                      Completed Interview
                    <% end %>
                  </td>
                  <td><%= link_to 'Show', interview %></td>
                  <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
                  <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Interview', new_interview_path %>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4>Schedule Interviews</h4>
          <!-- list of job postings -->
          <div class="card">
            <div class="card-body">
              <ul class="list-group">
                <% if @interviewing_postings.any? %>
                  <% @interviewing_postings.each do |posting| %>
                    <%= render 'job_postings/job_posting_interview_select_list_item', posting: posting %>
                  <% end %>
                <% else %>
                  <br /><br />
                  <p class="lead text-center">No Job Postings that are Interviewing</p>
                <% end %>
              </ul>
            </div>

            <% if @interviewing_postings.count > 9 %>
              <!-- show the paginator for the will_paginate gem -->
              <center><%= will_paginate @open_job_postings, renderer: BootstrapPagination::Rails, page_links: false %><br /></center>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>