<p id="notice"><%= notice %></p>

<p>
  <strong>Job posting:</strong>
  <%= @interview.job_posting %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @interview.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @interview.end_time %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
