<tr>
  <td><%= link_to job.title.titleize, organization_job_path(:organization_id => job.organization_id, :id => job.id) %></td>
  <% if job.user %>
    <td><%= job.user.first_name %> <%= job.user.last_name %></td>
    <td><%= job.user.email %></td>
    <td>
      <% if job.role == "management" %>
        <em class="ion-checkmark-round"></em>
      <% elsif job.role == "admin" %>
        <em class="ion-star"></em>
      <% end %>
    </td>
    <% else %>
    <td>Vacant Position</td>
    <td></td>
    <td></td>
  <% end %>
  <% if can? :manage, job %>
    <td>
      <div class="pull-right dropdown">
        <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
        <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to "Edit", edit_job_path(job.id) %>
          </li>
          <li>
            <%= link_to "Delete", job, method: :delete,
                        data: { confirm: "Are you sure?" } %>
          </li>
        </ul>
      </div>
    </td>

  <% end %>
</tr>
