<tr>
  <td><%= link_to job.title.titleize, job_path(:id => job.id) %></td>
  <td>
    <% if job.positions.any? && job.positions.first.active? %>
      Currently Filled
    <% elsif job.job_posting.present? && job.job_posting.active? %>
      <%= link_to "Taking Applications", job_posting_path(id: job.job_posting.id) %>
    <% end %>
  </td>
  <td>
    <% if job.role == "management" %>
      Managerial Position
    <% elsif job.role == "admin" %>
      Administration Position
    <% elsif job.role == "regular" %>
      General Member Position
    <% end %>
  </td>
  <td>
    <%= job.job_type.titleize %>
  </td>
  <td>
    <% if can? :manage, job %>
      <%= link_to edit_job_path(job.id), class: "btn btn-sm btn-warning" do %>
        <em class="ion-edit"></em>
      <% end %>
      <% if can? :manage, :all %>
        <%= link_to job, method: :delete, data: { confirm: "Are you sure you want to delete this job? It is highly recommended you do not delete jobs, and instead keep the job without any active positions." }, class: "btn btn-sm btn-danger" do %>
          <em class="ion-trash-a"></em>
        <% end %>
      <% end %>
      <%= link_to assign_job_path(job.id), class: "btn btn-sm btn-primary" do %>
        <em class="ion-android-person-add"></em>
      <% end %>
    <% end %>
  </td>
</tr>
