<!-- page title -->
<% content_for :title, "Assign New Job" %>

<!-- page content -->
<div class="container-fluid container-lg">
  <h5><%= @job.title %>, <%= @job.organization.name %></h5>
  <p>Please perform one of the actions below</p>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            Assign someone to the job posting:
          </p>
          <%= form_for([@organization, @job]) do |f| %>

            <%= f.label :User %>
            <%= f.select :user_id, User.all.collect { |user| [ user.email, user.id ] } %>

            <%= f.submit "Select", class: "btn btn-flat btn-primary btn-block" %>
          <% end %>
          <hr>
          <p class="lead">
            Create a job posting for the position:
          </p>
          <%= link_to "Create Job Posting", new_job_posting_path(:organization_id => @job.organization_id, :job_id => @job.id), class: "btn btn-flat btn-success btn-block" %>
          <hr>
          <p class="lead">
            Leave position Vacant for now
          </p>
          <%= link_to "Leave Vacant", organization_path(@job.organization), class: "btn btn-flat btn-warning btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
