<!-- page title -->
<% content_for :title, "Assign to Job" %>

<!-- page content -->
<div class="container-fluid container-lg">

  <div class="card">
    <div class="card-body">
      <h4>
        <%= @job.title %><br>
        <small><%= @job.organization.name %></small>
      </h4>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#history">Position History</a>
            </h4>
          </div>
          <div id="history" class="panel-collapse collapse">
            <%= render "users_table" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p class="lead">
        Assign someone as <%= @job.title %>
      </p>
      <%= form_for(:position, :url => create_position_job_path, :html => {:class => 'form-horizontal'}) do |f| %>

        <%= f.hidden_field :job_id, :value => @job.id %>

        <fieldset>
        <%= f.label :User,class: "col-sm-1 control-label" %>
        <div class="col-sm-11">
          <ul class="col-sm-11">
            <%= f.text_field :user_id %>
          </ul>
        </div>
        </fieldset>

        <fieldset>
          <div class="col-sm-11 col-sm-offset-1">
            <span class="help-block">
              Position Term Dates
            </span>
          </div>
          <div class="row">
            <%= f.label :start_date, class: "col-sm-1 control-label" %>
            <div class="col-sm-11 form-inline">
              <%= f.date_select :start_date, {ampm: true, "data-provide" => 'datepicker', :include_blank => true,:default => nil, start_year: Date.today.year, end_year: Date.today.year + 2}, {class: "form-control"} %>
            </div>
          </div>
          <div class="row mv">
            <%= f.label :end_date, class: "col-sm-1 control-label" %>
            <div class="col-sm-11 form-inline">
              <%= f.date_select :end_date, {ampm: true, "data-provide" => 'datepicker', :include_blank => true, :default => nil, start_year: Date.today.year, end_year: Date.today.year + 2}, {class: "form-control"} %>
            </div>
          </div>
        </fieldset>

        <%= f.submit "Assign to Position", class: "btn btn-flat btn-block btn-primary" %>
      <% end %>
    </div>
  </div>

  <% if !@job.job_posting.present? %>
    <%= link_to new_job_posting_path(:organization_id => @job.organization_id, :job_id => @job.id), class: "btn btn-flat btn-info" do %>
      <em class="ion-plus-round icon-fw"></em> Create Job Posting
    <% end %>
  <% else %>
    <%= link_to job_posting_path(@job.job_posting), class: "btn btn-flat btn-primary" do %>
      <em class="ion-ios-list icon-fw"></em> View Job Posting
    <% end %>
  <% end %>

  <%= link_to organization_path(@job.organization), class: "btn btn-flat btn-default pull-right" do %>
    <em class="ion-ios-arrow-back icon-fw"></em> Back to <%= @job.organization.name %>
  <% end %>

</div>
