<% content_for :title, "Edit Job" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">
    <h5>Edit "<%= @job.title %>" for <%= @job.organization.name %></h5>
    <div class="card">
      <div class="card-body">
        <%= form_for(@job) do |f| %>

          <%= f.label :Title %>
          <%= f.text_field :title, class: 'form-control' %>

          <%= f.label :User %>
          <%= f.select :user_id, User.all.collect { |user| [ user.email, user.id ] } %>     

          <%= f.hidden_field :organization_id, :value => @job.organization.id %>

          <hr>

          <%= f.submit "Edit Job", class: "btn btn-success btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
