<% content_for :title, "Job" %>

<div class="container-fluid container-lg">
  <div class="card">
    <div class="card-body reader-block">
      <div class="row">
        <div class="col-md-6">
          <h3><%= @job.title %><br>
            <small><%= link_to @organization.name, @organization %></small>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <% if @job.user %>
            <p>
              Position currently held by: <strong><%= link_to @job.user.first_name + " " + @job.user.last_name, profile_path(@job.user.id) %>.</strong>
            </p>
          <% else %>
            <p>
              Position currently vacant.
            </p>
            <% if posting = JobPosting.find_by(:job_id => @job.id) %>
              <p>
                View <%= link_to "job posting", job_posting_path(posting) %>.
              </p>
            <% else %>
            <p>
              Create <%= link_to "new job post", new_job_posting_path %>?
            </p>
            <% end %>
          <% end %>
          <% if @job.role == "management" %>
            <p>
              This is a management position. <a href="#">What is a management position?</a>
            </p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= simple_format(@job.description) %>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive mv-lg">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Year</th>
                <th>Name</th>
                <th>Email</th>
                <th>Hired Date</th>
                <th>Finished Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2006</td>
                <td>Joey Bing</td>
                <td>joey@bing</td>
                <td>January, 2004</td>
                <td>April, 2006</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
