<% content_for :title, "Edit User Profile" %>

<div class="container container-fluid">
  <div class="container-fluid container-md">

    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <h5>Edit Profile</h5>

    <%= render 'shared/user_error_messages' %>

    <div class="card">
      <div class="card-body">
        <%= form_for(@user, url: profile_path(@user)) do |f| %>

          <fieldset>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
            <span class="help-block"></span>
          </fieldset>

          <fieldset>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
            <span class="help-block"></span>
          </fieldset>

          <fieldset>
            <%= f.label :preferred_name %>
            <%= f.text_field :preferred_name, class: 'form-control' %>
            <span class="help-block"></span>
          </fieldset>

          <fieldset>
            <%= f.label :tagline %>
            <%= f.text_field :tagline, class: 'form-control' %>
            <span class="help-block">This text will show up right beneath your name in your profile page</span>
          </fieldset>

          <fieldset>
            <%= f.label :bio %>
            <%= f.text_area :bio, class: 'form-control', style: 'resize:none' %>
            <span class="help-block">Describe yourself in a couple sentences. What are you looking to achieve through EngSoc?</span>
          </fieldset>

          <fieldset>
            <%= f.label :faculty %>
            <%= f.text_field :faculty, class: 'form-control', style: 'resize:none' %>
          </fieldset>

          <fieldset>
            <%= f.label :specialization %>
            <%= f.text_field :specialization, class: 'form-control', style: 'resize:none' %>
          </fieldset>

          <hr>
          <%= f.submit "Submit", class: "btn btn-primary btn-block" %>

        <% end %>
      </div>
    </div>

  </div>
</div>
