<% content_for :title, "User Profile" %>

<div class="container-overlap engsoc-purple-light">
  <div class="container-fluid container-lg">
    <h4 class="media-heading">
      <%= @user.first_name %> <%= @user.last_name %>
      <% if @user.preferred_name? %>
        (<%= @user.preferred_name %>)
      <% end %>
    </h4>
    <span class="text-muted">
      <%= @user.tagline %>
    </span>
  </div>
</div>

<div class="container-fluid container-lg engsoc-purple-lighter">
  <div class="row">
    <div class="card">
      <% if @user.bio? %>
        <h5 class="card-heading pb0">
          Biography
        </h5>
        <div class="card-body">
          <p>
            <%= simple_format(@user.bio) %>
          </p>
        </div>
        <div class="card-divider"></div>
      <% end %>

      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <% if @user.id === current_user.id %>
            <div class="pull-right dropdown">
              <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li>
                  <%= link_to "Edit Profile", edit_profile_path(@user.id) %>
                </li>
                <li>
                  <%= link_to "Manage Settings", profile_settings_path(current_user) %>
                </li>
              </ul>
            </div>
            <% end %>
            <tr>
              <td><em class="ion-email icon-fw mr"></em>Email</td>
              <td><span class="is-editable text-inherit"><a href="#"><%= @user.email %></a></span></td>
            </tr>
            <% if @user.specialization? %>
              <tr>
                <td><em class="ion-document-text icon-fw mr"></em>Specialization</td>
                <td><%= @user.specialization %></td>
              </tr>
            <% end %>
            <% if @user.faculty? %>
              <tr>
                <td><em class="ion-document-text icon-fw mr"></em>Faculty</td>
                <td><%= @user.faculty %></td>
              </tr>
            <% end %>
            <tr>
              <td><em class="ion-ios-body icon-fw mr"></em>Member since</td>
              <td>
                <%= @user.created_at.to_time.strftime('%B, %Y') %>
              </td>
            </tr>
            <% if @user.gender != 'unspecified' %>
            <tr>
              <td>
                <% if @user.gender == 'male' %>
                  <em class="ion-male icon-fw mr"></em>
                <% else %>
                  <em class="ion-female icon-fw mr"></em>
                <% end %>
                Gender
              </td>
              <td><%= @user.gender.humanize %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @user.jobs.any? %>
        <div class="card-body">
          <div class="row" id="jobs">
            <%= render "positions_table" %>
          </div>
        </div>
      <% end %>
    </div>

    </div>
  </div>
