<tr>
  <td><%= job_application.id %></td>
  <td><%= job_application.created_at %></td>
  <td><%= job_application.user.first_name %> <%= job_application.user.last_name %></td>
  <td><%= job_application.status.titleize %></td>
  <td><%= link_to 'View', job_application %></td>
  <% if can? :manage, JobApplication %>
    <td>
      <div class="pull-right dropdown">
        <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
        <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to 'Edit', edit_job_application_path(job_application) %>
          </li>
          <li>
            <%= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </div>
    </td>

  <% end %>
</tr>



