<li class="list-group-item">

  <!-- render the dropdown for the item if configured -->
  <% if dropdown %>
    <%= render 'job_application_list_item_dropdown', application: application %>
  <% end %>

  <!-- show the job title and link to the job posting detail -->
  <h5 class="mb-sm">
    <%= link_to job_application_path(application), class: "ripple" do %>
      <%= application.job_posting.title %>
    <% end %>
  </h5>
  <% if application.interview.present? %>
    <p>
      <strong>Interview Scheduled for:</strong>
      <%= application.interview.start_time.strftime("%b %e, %l:%M %p") %>, to <%= application.interview.end_time.strftime("%b %e, %l:%M %p") %>
    </p>
  <% end %>


</li>
