<%= form_for([@job_posting, @job_application]) do |f| %>

    <%= render 'shared/job_application_error_messages' %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <%= f.hidden_field :job_posting_id, :value => @job_posting.id %>

    <%= f.label :Status %>    
    <%= f.text_field :status, class: 'form-control' %>

  <hr>

  <div class="actions">
    <%= f.submit "Answer Questions", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
