<tr>
  <td><%= job_application.id %></td>
  <td><abbr title="<%= job_application.updated_at.strftime("%A, %B %d, %l:%M %p") %>"><%= job_application.user.first_name %> <%= job_application.user.last_name %></abbr></td>
  <td><%= job_application.status.titleize %></td>
  <td><%= link_to 'View', job_application_path(job_application) %></td>

  <% if can? :manage, job_application %>
    <td>
      <%= link_to job_application, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"  do %>
        <em class="ion-trash-a"></em>
      <% end %>
    </td>
  <% end %>

</tr>
