<tr>
  <td><%= job_application.id %></td>
  <td><abbr title="<%= job_application.updated_at.strftime("%A, %B %d, %l:%M %p") %>"><%= job_application.user.first_name %> <%= job_application.user.last_name %></abbr></td>
  <td>
    <%= job_application.status.titleize %>
    <% if job_application.status == "interview_scheduled" %>
      <% if Interview.find_by(:job_application_id => job_application.id).end_time.past? %>
        (Completed)
      <% end %>
      <br>(<%= Interview.find_by(:job_application_id => job_application.id).start_time.strftime("%b %e, %l:%M %p") %> ~ <%= Interview.find_by(:job_application_id => job_application.id).end_time.strftime("%I:%M %p") %>)
    <% end %>
  </td>
  <td>
    <%= link_to 'View Application', job_application_path(job_application) %>
    <% if job_application.status == "submitted" %>
      | <%= link_to 'Schedule Interview', new_job_application_interview_path(job_application) %>
    <% end %>
    <% if job_application.status == "interview_scheduled" %>
      | <%= link_to 'Reschedule', edit_interview_path(job_application.interview) %>
      <% if Interview.find_by(:job_application_id => job_application.id).end_time.past? %>
        <%= link_to hire_job_application_path(Interview.find_by(:job_application_id => job_application.id).job_application), :confirm => "Are you sure you want to HIRE this candidate?" do %>
          <em class="ion-checkmark icon-fw ml"></em> Hire
        <% end %> | 
        <%= link_to decline_job_application_path(Interview.find_by(:job_application_id => job_application.id).job_application), :confirm => "Are you sure you want to DECLINE this candidate?" do %>
          <em class="ion-close icon-fw"></em> Decline
        <% end %>
      <% end %>
    <% end %>
  </td>

</tr>
