<%= form_for([@job_posting, @job_application]) do |f| %>

    <%= render 'shared/job_application_error_messages' %>

    <% if controller.action_name.eql?('new') %>

      <%= f.hidden_field :user_id, :value => current_user.id %>
    
      <%= f.hidden_field :job_posting_id, :value => @job_posting.id %>

      <%= f.hidden_field :status, :value => 'draft' %>

      <hr>
      <div class="actions">
        <%= f.submit "Begin Application", class: "btn btn-raised btn-primary btn-lg btn-block ripple" %>
      </div>

    <% else %>
      <%= f.hidden_field :status, :value => 'submitted' %>
      <hr>
      <div class="actions">
        <%= f.submit "Complete Application", class: "btn btn-raised btn-success btn-lg btn-block ripple" %>
      </div>
    <% end %>
<% end %>
