<% content_for :title, "Complete Job Application" %>

  <div class="container-fluid container-lg">
    <div class="card">
      <div class="card-body">

        <div class="container container-md">
          <div class="job_posting_header mb-xl">
            <p class="lead">
              <%= link_to @job_application.job_posting.title, @job_application.job_posting %>
            </p>
            <p>
              Application Deadline: <%= distance_of_time_in_words(Time.now, @job_application.job_posting.deadline) %> (<%= @job_application.job_posting.deadline.to_date %>)
            </p>
            <p>
              Organization: <%= link_to @job_application.job_posting.job.organization.name, @job_application.job_posting.job.organization %>
            </p>
          </div>

          <p>
            Please finalize your job application below.
          </p>
          <p>
            Once this form is submitted, it cannot be re-editted. You may continue this application at any time if you do not choose to submit, but your application will not be considered until it is submitted. To view any application drafts you can navigate to "My Applications" in the side menu bar.
          </p>
        </div>
      </div>
    </div>
    <div class="finalize-panel mt-xl">
      <% if !@job_application.resumes_id.nil? %>
        <p class="mv mh lead text-center">
          Resume: <%= link_to Resume.find(@job_application.resumes_id).name, Resume.find(@job_application.resumes_id).attachment_url, :style => "text-decoration: underline;" %>
        </p>
      <% else %>
        <p class="mv mh lead text-center">
          There is no resume associated with this application. <%= link_to "Add one?", select_resume_job_application_path %>
        </p>
      <% end %>
      <% if @job_posting_answers.any? %>
          <div class="answer-panels">
            <% @job_posting_answers.each do |answer| %>
            <% qu = JobPostingQuestion.where(id: answer.job_posting_questions_id).last %>
            <div class="col-lg-8 col-lg-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <%= qu.content %>
                  </div>
                </div>
                <div class="panel-body">
                  <%= simple_format(answer.content) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="mv mh">
          No Job Posting Answers.
        </p>
      <% end %>
    </div>
    <%= render 'job_application_form' %>
    
  </div>
