<% content_for :title, "Complete Job Application" %>

  <div class="container-fluid container-lg">

    <div class="card">
      <div class="card-body">
        <p class="lead"> <%= link_to @job_application.job_posting.title, @job_application.job_posting %></p>
        <hr />
        <p>
          Please finalize your job application below:
        </p>
        <p>
          Once this form is submitted, it cannot be re-editted. You may continue this application at any time if you do not choose to submit, but your application will not be considered until it is submitted. To view any application drafts you can navigate to "My Applications" in the side menu bar.
        </p>
        <hr>
        <% if !@job_application.resumes_id.nil? %>
          <p class="mv mh">
            Resume: <%= Resume.find(@job_application.resumes_id).name %> <%= link_to "Download", Resume.find(@job_application.resumes_id).attachment_url %>
          </p>
        <% end %>
        <% if @job_posting_answers.any? %>
          <div class="mv mh">
            <p>Job Posting Answers:</p>
            <ol>
              <% @job_posting_answers.each do |answer| %>
                <% qu = JobPostingQuestion.where(id: answer.job_posting_questions_id).last %>
                <li>
                  <p><strong><%= qu.content %></strong></p>
                  <p><%= answer.content %></p>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>

        <%= render 'job_application_form' %>
      </div>
    </div>
  </div>
