<% content_for :title, "Manage Job Applications" %>

<div class="container-fluid container-lg">
  <div class="row mb">
    <div class="col-sm-10">
      <%= link_to(manage_job_postings_path, class: "btn btn-default") do %>
        <em class="ion-ios-list-outline mr-sm"></em>Manage Job Postings
      <% end %>
      <%= link_to(manage_interviews_path, class: "btn btn-default") do %>
        <em class="ion-android-calendar mr-sm"></em>Manage Interviews
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= render "job_postings/job_posting_status_button", posting: @job_posting %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <%= render "job_postings/job_posting_overview", posting: @job_posting %>
    </div>
  </div>

  <%= render "job_applications_table", applications: @hired_job_applications%>
  <%= render "job_applications_table", applications: @interviewing_job_applications%>
  <%= render "job_applications_table", applications: @submitted_job_applications%>
  <%= render "job_applications_table", applications: @declined_job_applications%>

  <% if !@submitted_job_applications.any? && !@hired_job_applications.any? && !@declined_job_applications.any? %>
    <div class="">
      <div class="card-body">
        <div class="alert alert-warning ml mr">
          There are currently no job applications for this posting.
        </div>
      </div>
    </div>
  <% end %>


  <% if @archived_job_applications.any? %>
    <hr>
    <div class="">
      <%= render "job_applications_table", applications: @archived_job_applications %>
    </div>
  <% end %>

  <div class="row mb">
    <div class="col-sm-2 col-sm-offset-10">
      <%= render "job_postings/job_posting_status_button", posting: @job_posting %>
    </div>
  </div>

</div>
