<% content_for :title, "Job Application"  %>

<div class="container container-fluid">
  <div class="container container-md">
    <h4>
      Application for <%= link_to @job_application.job_posting.title, @job_application.job_posting %>
    </h4>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <small><%= @job_application.status.humanize %> by</small>
              <br>
              <%= link_to @job_application.user.first_name + " " + @job_application.user.last_name, profile_path(@job_application.user.id) %>
              <br>
              <small><%= @job_application.user.email %></small>
            </h3>
          </div>
          <div class="col-md-8">
            <% if @job_application.job_posting_answers.any? %>
              <h6>Question Responses</h6>
              <ol>
              <% @job_application.job_posting_answers.each do |answer| %>
                <% qu = JobPostingQuestion.where(id: answer.job_posting_questions_id).last %>
                <li>
                  <p><strong><%= qu.content %></strong></p>
                  <p><%= answer.content %></p>
                </li>
              <% end %>
              </ol>
            <% end %>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Job Posting Deadline:
                <br><strong><%= @job_application.job_posting.deadline.to_time.strftime('%a %d, %B, %y') %></strong></li>
              <li>Application Submitted: 
                <br><strong><%= @job_application.created_at.to_time.strftime('%a %d, %B, %y') %></strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <%= render "job_applications_table", applications: @job_applications, other: true %>
          </div>
        </div>
        <div class="row">
          <%= link_to "Back to Job Posting", @job_application.job_posting, class: "btn btn-flat btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>

