<!-- define title for the page -->
<% content_for :title, "My Job Applications" %>

<!-- container for the page -->
  <div class="container-fluid container-md">

    <!-- filtering header -->
    <div class="row mv">

      <div class="col-sm-12 text-right hidden-xs">
        <%= form_tag({controller: "job_applications", action: "filter_user"}, method: "post", class:"form-inline") do %>
          <div class="form-group">
            <% select_list = JobApplication.statuses.keys.map { |w| [w.titleize, w] } %>
            <% select_list.insert(0,"All") %>
            <%= label_tag 'Status', nil, class: 'mr' %>
            <%= select_tag :status, options_for_select(select_list, params[:status]), class: "form-control input-sm" %>
            <%= submit_tag 'Filter', class: "ml btn btn-inverse" %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
          <% if @user_job_applications.any? %>
            <ul class="list-group">
            <!-- iterate through all of the open job postings -->
            <% @user_job_applications.each do |app| %>
              <%= render 'job_application_list_item', application: app, dropdown: true %>
            <% end %>
            </ul>
          <% else %>
          <br /><br />
          <p class="lead text-center">Uh oh! You have no job applications.</p>
          <% end %>
      </div>
    </div>
  </div>
