<!-- define title for the page -->
<% content_for :title, "My Job Applications" %>

<!-- container for the page -->
  <div class="container-fluid container-lg">

    <!-- filtering header -->
    <div class="row mb">

      <div class="col-sm-12 text-right hidden-xs">
        <%= form_tag({controller: "job_applications", action: "filter_user"}, method: "post", class:"form-inline") do %>
          <div class="form-group">
            <% select_list = JobApplication.statuses.keys.map { |w| [w.titleize, w] }.insert(0,"All") %>
            <%= label_tag 'Status', nil, class: 'mr' %>
            <%= select_tag :status, options_for_select(select_list, params[:status]), class: "form-control input-sm" %>
            <%= submit_tag 'Filter', class: "ml btn btn-inverse" %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="card">
      <% if @user_job_applications.any? %>
        <table class="table table-fixed va-middle">
          <tbody>
            <!-- iterate through all of the open job postings -->
            <% @user_job_applications.each do |app| %>
              <tr class="msg-display">
                <td class="text-ellipsis">
                  <% if app.status == "draft" %>
                    <h4>
                      <%= link_to select_job_application_resume_path(:job_application_id => app.id), class: "ripple" do %>
                      <%= app.job_posting.title %>
                    <% end %>
                    <small>, for</small> <%= link_to app.job_posting.job.organization.name, organization_path(app.job_posting.job.organization) %>
                    </h4>
                  <% else %>
                    <h4><%= app.job_posting.title %><small>, for</small> <%= link_to app.job_posting.job.organization.name, organization_path(app.job_posting.job.organization) %></h4>
                  <% end %>
                  <p>
                    Application last updated: <%= app.updated_at.strftime('%A, %B %d, %l:%M %p, %Y') %>
                  </p>
                  <% if app.interview.present? %>
                    <p>
                      <strong>Interview Scheduled for:</strong>
                      <%= app.interview.start_time.strftime("%b %e, %l:%M %p") %>, to <%= app.interview.end_time.strftime("%b %e, %l:%M %p") %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <div class="pull-right dropdown">
                    <%= status_label_application(app) %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <% else %>
          <div class="card-body">
          <p class="m-xl lead text-center">You have no job applications.</p>
          <center><%= link_to "Get Involved", job_postings_path, class: "btn btn-primary mb-xl" %></center>
          </div>
        <% end %>
    </div>
  </div>
