<!-- can assume user has already been authorized as an admin -->
<!-- container for the page -->
<div class="container container-fluid">
  
    <div class="mb-lg text-right">
      <button type="button" class="btn btn-default">
        <a href="job_postings/new">
        <em class="ion-plus mr-sm"></em>Add Job Posting
        </a>
      </button>
    </div>
<!-- main container for job postings -->
<div class="container-fluid container-md">
  <select name="account" class="form-control">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
  <br />
  <div class="card">
    <div class="card-body">
      <p class="lead">Waiting Approval</p>
      <ul class="list-group">
        <!-- iterate through all of the open job postings -->
        <% @approval_job_postings.each do |posting| %>
          <li class="list-group-item">
            <div class="pull-right dropdown">
              <% if can? :approve_job_postings, posting %>
                <%= render 'index_dropdown', :posting => posting %>
              <% end %>
            </div>
            <!-- show the job title and link to the job posting detail -->
            <h5 class="mb-sm">
              <%= link_to job_posting_path(posting), class: "ripple" do %>
                <%= posting.title %>
              <% end %>
            </h5>
            <!-- display the application deadline -->
            <p class="text-soft">
                Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
            </p>
            <!-- show the truncated job posting description -->
            <p>
              <%= h truncate(posting.description, :length => 270) %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
