<!-- container for the page -->
<div class="container container-fluid">

  <!-- add search bar -->
  <div class="mb-lg">
    <form role="form">
      <div class="mda-form-control">
        <input type="text" placeholder="Search Job Title, Department, etc..." class="form-control input-lg">
      </div>
    </form>
  </div>

  <!-- main container for job postings -->
  <div class="container-fluid container-md">
    <div class="card">
      <div class="card-body">
          <% if @open_job_postings.any? %>
            <ul class="list-group">
            <!-- iterate through all of the open job postings -->
            <% @open_job_postings.each do |posting| %>
                <li class="list-group-item">
                  <!-- show dropdown if the user is allowed to manage it, probably redundant with admin console -->
                  <% if can? :submit_job_postings, posting %>
                    <div class="pull-right dropdown">
                      <%= status_label(posting) %>
                      <% if can? :approve_job_postings, posting %>
                        <%= render 'index_dropdown', :posting => posting %>
                      <% end %>
                    </div>
                  <% end %>
                <!-- show the job title and link to the job posting detail -->
                <h5 class="mb-sm">
                  <%= link_to job_posting_path(posting), class: "ripple" do %>
                    <%= posting.title %>
                  <% end %>
                </h5>
                <!-- display the application deadline -->
                <p class="text-soft">
                    Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
                </p>
                <!-- show the truncated job posting description -->
                <p>
                  <%= h truncate(posting.description, :length => 270) %>
                </p>
              </li>
            <% end %>
            </ul>
          <% else %>
          <br /><br />
          <p class="lead text-center">Uh oh! There are no open jobs right now.</p>
          <% end %>
        <center>
          <!-- show the paginator for the will_paginate gem -->
          <%= will_paginate @open_job_postings, renderer: BootstrapPagination::Rails, page_links: false %><br />
        </center>
      </div>
    </div>
  </div>
</div>
