<!-- container for the page -->
<div class="container container-fluid">
  <!-- check if can submit job postings for approval -->
  <% if can? :create, JobPosting %>
    <div class="mb-lg text-right">
        <!-- no point to show the submit job posting button for admins -->
        <% if cannot? :manage, JobPosting %>
          <button type="button" class="btn btn-default"><em class="ion-plus mr-sm"></em>Submit Job Posting</button>
        <% end %>
    </div>
  <% end %>

  <!-- add search bar -->
  <div class="mb-lg">
    <form role="form">
      <div class="mda-form-control">
        <input type="text" placeholder="Search Job Title, Department, etc..." class="form-control input-lg">
      </div>
    </form>
  </div>

  <!-- main container for job postings -->
  <div class="container-fluid container-md">
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <% if @open_job_postings.count == 0 %><br /><br />
            <p class="lead text-center">Uh oh! There are no open jobs right now.</p>
          <% else %>
            <!-- iterate through all of the open job postings -->
            <% @open_job_postings.each do |posting| %>
                <li class="list-group-item">
                  <!-- show dropdown if the user is allowed to manage it, probably redundant with admin console -->
                  <% if can? :manage, posting %>
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li>
                          <%= link_to "View Applicants", job_postings_path %>
                        </li>
                        <li>
                          <%= link_to "Edit Posting", job_postings_path %>
                        </li>
                        <li>
                          <%= link_to "Delete Posting", job_postings_path %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                <!-- show the job title and link to the job posting detail -->
                <h5 class="mb-sm">
                  <%= link_to job_posting_path(posting), class: "ripple" do %>
                    <%= posting.job.title %>
                  <% end %>
                </h5>
                <!-- display the application deadline -->
                <p class="text-soft">
                    Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
                </p>
                <!-- show the truncated job posting description -->
                <p>
                  <%= h truncate(posting.description, :length => 270) %>
                </p>
              </li>
            <% end %>
          <% end %>
        </ul>
        <center>
          <!-- show the paginator for the will_paginate gem -->
          <%= will_paginate @open_job_postings, renderer: BootstrapPagination::Rails, page_links: false %><br />
        </center>
      </div>
    </div>
  </div>
</div>
