<li class="list-group-item">

  <!-- show the job title and link to the job posting detail -->
  <h5 class="mb-sm">
    <%= link_to job_posting_job_applications_path(posting), class: "ripple" do %>
      <%= posting.title %>
    <% end %>
  </h5>

  <!-- display the application deadline -->
  <p class="text-soft">
    Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %><br />
  </p>

  <% if posting.job_applications.any? %>
    <ul>
    <% posting.job_applications.each do |app| %>
      <% if app.status == "submitted" %>
        <li>
          #<%= app.id %> - <%= app.user.first_name %> <%= app.user.last_name %> <%= app.status %>
          <%= link_to "Schedule Interview", new_job_application_interview_path(app) %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>

</li>
