<li class="list-group-item">
  <!-- render the dropdown-->
  <%= render 'job_posting_list_item_dropdown', posting: posting %>

  <!-- show the job title and link to the job posting detail -->
  <h5 class="mb-sm">
    <%= link_to job_posting_path(posting), class: "ripple" do %>
      <%= posting.title %>
    <% end %>
  </h5>

  <!-- display the application deadline -->
  <p class="text-gray-darker">Application Deadline: 
    <% if posting.deadline.past? %>
      <%= posting.deadline.to_date %>
    <% else %>
      <%= distance_of_time_in_words(Time.now, posting.deadline) %><br />
    <% end %>
  </p>

  <p class="text-gray-darker">Organization: <%= posting.job.organization.name %><br /></p>

  <!-- display the truncated job posting description -->
  <p><%= h truncate(posting.description, :length => 270) %></p>

</li>
