<p class="lead">Job Posting Overview</p>
<hr />
<%= render 'job_postings/job_posting_list_item_dropdown', posting: @job_posting %>
<h5>
  <%= posting.title %>
</h5>
<p>
  Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %> (<%= posting.deadline.to_date.strftime('%A, %B %d, %l:%M %p, %Y') %>)
</p>
<p>
  Organization: <%= link_to posting.job.organization.name, posting.job.organization %>
</p>
<p class="text-gray-darker">
  Term: <%= posting.start_date.to_date %> to <%= posting.end_date.to_date %><br />
</p>
<p>
  <%= simple_format(posting.description) %>
</p>