<% if can? :submit_job_postings, posting %>
  <div class="pull-right dropdown">
    <%= status_label(posting) %>
    <% if can? :approve_job_postings, posting %>
    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
      <li>
        <%= link_to "View Applicants", job_posting_job_applications_path(posting.id) %>
      </li>
      <% if posting.status != "open" %>
        <li>
          <%= link_to "Approve Posting", approve_job_posting_path(posting) %>
        </li>
      <% else %>
        <li>
          <%= link_to "Withdraw Approval", withdraw_job_posting_path(posting) %>
        </li>
      <% end %>
      <li>
        <%= link_to "Edit Posting", edit_job_posting_path(posting.id) %>
      </li>
      <li>
        <%= link_to "Delete Posting", posting, method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    </ul>

    <% end %>
  </div>
<% end %>
