<p class="lead">Job Posting Overview</p>
<hr />
<h5>
  <%= posting.title %>
</h5>
<p>
  Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %> (<%= posting.deadline.to_date %>)
</p>
<p>
  Organization: <%= link_to posting.job.organization.name, posting.job.organization %>
</p>
<p>
  <%= simple_format(posting.description) %>
</p>