<li class="list-group-item">
  <!-- render the dropdown-->
  <%= render 'job_posting_list_item_dropdown', posting: posting %>

  <!-- show the job title and link to the job posting detail -->
  <h5 class="mb-sm">
    <%= link_to job_posting_path(posting), class: "ripple" do %>
      <%= posting.title %>
    <% end %>
  </h5>

  <!-- display the application deadline -->
  <p class="text-gray-darker">Application Deadline:
    <%= posting.deadline.strftime("%A, %b %d, %Y") %><% if posting.deadline.future? %> | <%= distance_of_time_in_words(Time.now, posting.deadline) %><% end %>
  </p>

  <p class="text-gray-darker">Organization: <%= link_to posting.job.organization.name, posting.job.organization %><br /></p>

  <p class="text-gray-darker">Term: <%= posting.start_date.to_date %> to <%= posting.end_date.to_date %><br /></p>

  <!-- display the truncated job posting description -->
  <p><%= h truncate(posting.description, :length => 270) %></p>

</li>
