        <%= form_for @jobposting do |f| %>

          <%= render 'shared/job_posting_error_messages' %>

          <%= f.hidden_field :creator_id, :value => current_user.id %>

          <div class="form-group">
          <%= f.label :Title %>
          <br>
            <% if @jobposting.title %>
              <%= @jobposting.title %>
            <% else %>
              <%= f.hidden_field :job_id, :value => params[:job_id] %>
              <% if @job.role == "management" %>
                <%= f.hidden_field :title, :value => @job.title + ", for " + @job.organization.name + " (Manager)" %>
                <%= @job.title %>, for <%= @job.organization.name %> (Manager)
              <% elsif @job.role == "admin" %>
                <%= f.hidden_field :title, :value => @job.title + ", for " + @job.organization.name + " (EngSoc Admin)" %>
                  <%= @job.title %>, for <%= @job.organization.name %> (EngSoc Admin)
              <% else %>
                <%= f.hidden_field :title, :value => @job.title + ", for " + @job.organization.name %>
                <%= @job.title %>, for <%= @job.organization.name %>
              <% end %>
            <% end %>
          </div>


          <div class="form-group">
          <%= f.label :Description %>
          <% if @job %>
            <%= f.text_area :description, :value => @job.description, class: 'form-control', style: 'resize:none', rows: "20" %>
          <% else %>
            <%= f.text_area :description, class: 'form-control', style: 'resize:none', rows: "20" %>
          <% end %>
          </div>

          <hr>

          <div class="form-group">
          <%= f.label :Deadline %>
          <%= f.date_select :deadline, "data-provide" => 'datepicker' %>
          </div>

          <div class="form-group">
          <%= f.label :Status %>
          <% if cannot? :manage, JobPosting %>
          <%= f.select :status, JobPosting.statuses => "Waiting approval" %>
          <% else %>
          <%= f.select :status, JobPosting.statuses.keys.map { |w| [w.humanize, w] }  %>
          <% end %>
          </div>

          <hr>

          <h4>Job Posting Questions</h4>
          <% if @jobposting.job_posting_questions.any? %>
            Currently <%= @jobposting.job_posting_questions.count %> <%= 'question'.pluralize(@jobposting.job_posting_questions.count) %>.
          <% else %>
            Currently no questions. You can add questions once you first create the job posting.
          <% end %>

          <hr>

          <%= f.submit "Next", class: "btn btn-primary btn-block" %>
        <% end %>