<li class="list-group-item">

  <!-- show the job title and link to the job posting detail -->
  <h4 class="mb-sm">
    <%= link_to job_posting_job_applications_path(posting), class: "ripple" do %>
      <%= posting.title %>
    <% end %>
  </h4>

  <!-- display the application deadline -->
  <p class="text-soft">
    Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %><br />
  </p>

  <% if posting.job_applications.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1">
            APP. ID
          </th>
          <th>
            SUBMITTED BY <abbr title="Hover to show submission time"><em class="ion-help-circled icon-fw"></em></abbr>
          </th>
          <th>
            STATUS
          </th>
          <% if can? :manage, JobApplication %>
          <th>
            ACTIONS
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% posting.job_applications.each do |app| %>
          <% if app.status == "submitted" %>
            <%= render 'job_applications/job_application', job_application: app %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to job_posting_job_applications_path(posting), class: "ripple" do %>
      <p class="text-right"><em>View All</em></p>
    <% end %>
  <% end %>

</li>
