<%= form_for(@jobposting, :html => {:class => 'form-horizontal'}) do |f| %>
<!-- render any error messages -->
<%= render 'shared/job_posting_error_messages' %>

<!-- hidden field for the creator id -->
<%= f.hidden_field :creator_id, :value => current_user.id %>

<!-- form fields -->
<!-- organization -->
<fieldset class="last-child">
  <div class="form-group">
    <label class="col-sm-1 control-label">Organization</label>
    <div class="col-sm-11">
        <% if action_name == 'edit' %>
          <input type="text" value="<%= @jobposting.job.organization.name %>" disabled="" class="form-control">
          <%= f.hidden_field :job_id, :value => @jobposting.job.id %>
        <% else %>
          <input type="text" value="<%= @job.organization.name %>" disabled="" class="form-control">
          <%= f.hidden_field :job_id, :value => params[:job_id] %>
        <% end %>
    </div>
  </div>
</fieldset>

<!-- title -->
<fieldset class="last-child">
  <div class="form-group">
    <%= f.label :title, 'Job Title', class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <% if @jobposting.title %>
        <%= f.text_field :title, :value => @jobposting.title, class: 'form-control', disabled: true %>
      <% else %>
        <%= f.text_field :title, :value => @job.title, class: 'form-control', disabled: true %>
        <%= f.hidden_field :title, :value => @job.title %>
      <% end %>
    </div>
  </div>
</fieldset>

<!-- description -->
<fieldset>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <% if @job %>
        <%= f.text_area :description, :value => @job.description, class: 'form-control', style: 'resize:none', rows: "14" %>
      <% else %>
        <%= f.text_area :description, class: 'form-control', style: 'resize:none', rows: "14" %>
      <% end %>
    </div>
  </div>
</fieldset>

<!-- deadline -->
<fieldset>
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="alert alert-info mt">
        <p>
          Job Postings can begin to interview candidates only after the deadline.
        </p>
        <p>
          It is recommended that you at set the deadline to be at least <em><strong class="lead"><%= (Date.today + 2.weeks).strftime("%B %d, %Y") %></strong></em> (2 weeks from now), as per EngSoc policy, for the job posting to be approved.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.label :deadline, class: "col-sm-1 control-label" %>
    <div class="col-sm-11 form-inline">
      <%= f.date_select :deadline, {ampm: true, "data-provide" => 'datepicker', start_year: Date.today.year, default: Date.today + 2.weeks, end_year: Date.today.year + 1}, {class: "form-control"} %>
    </div>
  </div>
</fieldset>

<!-- position duration -->
<fieldset>
  <div class="col-sm-11 col-sm-offset-1">
    <span class="help-block">
      Position Term Dates
    </span>
  </div>
  <div class="row">
    <%= f.label :start_date, class: "col-sm-1 control-label" %>
    <div class="col-sm-11 form-inline">
      <%= f.date_select :start_date, {ampm: true, "data-provide" => 'datepicker', :default => Date.today + 2.weeks, start_year: Date.today.year, end_year: Date.today.year + 2}, {class: "form-control"} %>
    </div>
  </div>
  <div class="row mv">
    <%= f.label :end_date, class: "col-sm-1 control-label" %>
    <div class="col-sm-11 form-inline">
      <%= f.date_select :end_date, {ampm: true, "data-provide" => 'datepicker', :include_blank => true, :default => nil, start_year: Date.today.year, end_year: Date.today.year + 2}, {class: "form-control"} %>
    </div>
  </div>
</fieldset>

<!-- status -->
<fieldset>
  <div class="row">
    <%= f.label :status, class: "col-sm-1 control-label" %>
    <!-- only admins are able to set the status -->
    <div class="col-sm-11">
      <% if !current_user.superadmin? || can?(:manage, :all) %>
        <%= f.select :status, [["Waiting approval", "waiting_approval"]], {}, {class: "form-control"} %>
      <% else %>
        <%= f.select :status, JobPosting.statuses.keys.map { |w| [w.titleize, w] }, {}, {class: "form-control"}  %>
      <% end %>
    </div>
  </div>
</fieldset>

<hr>

<h4>Job Posting Questions</h4>
<% if @jobposting.job_posting_questions.any? %>
  This job posting currently has <%= @jobposting.job_posting_questions.count %> <%= 'question'.pluralize(@jobposting.job_posting_questions.count) %>. You can add, edit, or remove questions for candidates to answer in the next page.
<% else %>
  There are currently no questions. You can add questions once you first create the job posting.
<% end %>

<hr>

<%= f.submit "Next", class: "btn btn-flat btn-primary btn-lg btn-block" %>
<%= link_to "Cancel",root_path, class: "btn btn-flat btn-inverse btn-block" %>

<% end %>
