<!-- page title -->
<% content_for :title, "Admin Job Postings" %>

<!-- create job posting button -->
<div class="container container-fluid">
  <div class="mb-lg text-right">
      <%= link_to "Create New Job Posting", new_job_posting_path, class: "btn btn-primary" %>
  </div>

  <!-- main container for job postings -->
  <div class="container-fluid container-md">

    <%= form_tag({controller: "job_postings", action: "filter"}, method: "post") do %>
      <%= select_tag :status, options_for_select(JobPosting.statuses.keys.map { |w| [w.humanize, w] }) %>
      <%= submit_tag 'Filter' %>
    <% end %>



    <!-- job postings waiting approval -->

    <div class="card">
      <div class="card-body">
        <h3 class="lead">Job Postings</h3>
        <ul class="list-group">
          <% if @job_postings.any? %>
            <% @job_postings.each do |posting| %>
              <%= render 'job_posting_list_item', posting: posting, dropdown: true %>
            <% end %>
          <% else %>
            <p class="text-center">No Job Postings Waiting Approval</p>
          <% end %>
        </ul>
      </div>
    </div>


  </div>
</div>
