<!-- define title for the page -->
<% content_for :title, "Job Postings" %>

  <!-- main container for job postings -->
  <div class="container-fluid container-md">


    <!-- filtering header -->
    <div class="row mv">
      <div class="col-sm-12 text-right hidden-xs">
        <%= form_tag({controller: "job_postings", action: "filter_index"}, method: "post", class:"form-inline") do %>
          <div class="form-group">
            <% select_list = Job.job_types.keys.map { |w| [w.titleize, w] } %>
            <% select_list.insert(0,"All") %>
            <% department_list = Organization.departments.keys.map { |w| [w.titleize, w] } %>
            <% department_list.insert(0,"All") %>
            <%= label_tag 'Department', nil, class: 'mr' %>
            <%= select_tag :department, options_for_select(department_list, params[:department]), class: "form-control input-sm mr" %>
            <%= label_tag 'Type', nil, class: 'mr' %>
            <%= select_tag :job_type, options_for_select(select_list, params[:job_type]), class: "form-control input-sm" %>
            <%= submit_tag 'Filter', class: "ml btn btn-inverse" %>
          </div>
        <% end %>
      </div>
    </div>



    <div class="card">
      <div class="card-body">
          <% if @open_job_postings.any? %>
            <ul class="list-group">
            <!-- iterate through all of the open job postings -->
            <% @open_job_postings.each do |posting| %>
            <%= render 'job_posting_list_item', posting: posting, dropdown: false %>
            <% end %>
            </ul>
          <% else %>
          <br /><br />
          <p class="lead text-center">Uh oh! There are no open jobs right now.</p>
          <% end %>
        <center>
          <!-- show the paginator for the will_paginate gem -->
          <%= will_paginate @open_job_postings, renderer: BootstrapPagination::Rails, page_links: false %><br />
        </center>
      </div>
    </div>
  </div>
