<% content_for :title, "Manage Job Postings" %>

<div class="container container-fluid">
  <div class="mb-lg text-right">
      <%= link_to "Create New Posting", new_job_posting_path, class: "btn btn-primary" %>
  </div>
<!-- main container for job postings -->
  <div class="container-fluid container-md">
    <div class="card">
      <div class="card-body">
        <h3 class="lead">Waiting Approval</h3>
        <ul class="list-group">
          <% if @approval_job_postings.any? %>
            <% @approval_job_postings.each do |posting| %>
              <li class="list-group-item">
                <% if can? :submit_job_postings, posting %>
                  <div class="pull-right dropdown">
                    <%= status_label(posting) %>
                    <% if can? :approve_job_postings, posting %>      
                            <%= render 'index_dropdown', :posting => posting %>
      
                    <% end %>      
                  </div>
                <% end %>
                <!-- show the job title and link to the job posting detail -->
                <h5 class="mb-sm">
                  <%= link_to job_posting_path(posting), class: "ripple" do %>
                    <%= posting.title %>
                  <% end %>
                </h5>
                <!-- display the application deadline -->
                <p class="text-soft">
                  Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
                </p>
                <!-- show the truncated job posting description -->
                <p>
                  <%= h truncate(posting.description, :length => 270) %>
                </p>
              </li>
            <% end %>
          <% else %>
            <p class="text-center">No posts</p>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="lead">Interviews Pending</h3>
        <ul class="list-group">
          <% if @interviews_pending_job_postings.any? %>
            <% @interviews_pending_job_postings.each do |posting| %>
              <li class="list-group-item">
                <% if can? :submit_job_postings, posting %>
                  <div class="pull-right dropdown">
                    <%= status_label(posting) %>
                    <% if can? :approve_job_postings, posting %>      
                            <%= render 'index_dropdown', :posting => posting %>
      
                    <% end %>      
                  </div>
                <% end %>
                <!-- show the job title and link to the job posting detail -->
                <h5 class="mb-sm">
                  <%= link_to job_posting_path(posting), class: "ripple" do %>
                    <%= posting.title %>
                  <% end %>
                </h5>
                <!-- display the application deadline -->
                <p class="text-soft">
                  Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
                </p>
                <!-- show the truncated job posting description -->
                <p>
                  <%= h truncate(posting.description, :length => 270) %>
                </p>
              </li>
            <% end %>
          <% else %>
            <p class="text-center">No posts</p>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="lead">Interviews Scheduled</h3>
        <ul class="list-group">
          <% if @interviews_scheduled_job_postings.any? %>
            <% @interviews_scheduled_job_postings.each do |posting| %>
              <li class="list-group-item">
                <% if can? :submit_job_postings, posting %>
                  <div class="pull-right dropdown">
                    <%= status_label(posting) %>
                    <% if can? :approve_job_postings, posting %>      
                            <%= render 'index_dropdown', :posting => posting %>
      
                    <% end %>      
                  </div>
                <% end %>
                <!-- show the job title and link to the job posting detail -->
                <h5 class="mb-sm">
                  <%= link_to job_posting_path(posting), class: "ripple" do %>
                    <%= posting.title %>
                  <% end %>
                </h5>
                <!-- display the application deadline -->
                <p class="text-soft">
                  Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
                </p>
                <!-- show the truncated job posting description -->
                <p>
                  <%= h truncate(posting.description, :length => 270) %>
                </p>
              </li>
            <% end %>
          <% else %>
            <p class="text-center">No posts</p>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="lead">Closed</h3>
        <ul class="list-group">
          <% if @closed_job_postings.any? %>
            <% @closed_job_postings.each do |posting| %>
              <li class="list-group-item">
                <% if can? :submit_job_postings, posting %>
                  <div class="pull-right dropdown">
                    <%= status_label(posting) %>
                    <% if can? :approve_job_postings, posting %>      
                            <%= render 'index_dropdown', :posting => posting %>
      
                    <% end %>      
                  </div>
                <% end %>
                <!-- show the job title and link to the job posting detail -->
                <h5 class="mb-sm">
                  <%= link_to job_posting_path(posting), class: "ripple" do %>
                    <%= posting.title %>
                  <% end %>
                </h5>
                <!-- display the application deadline -->
                <p class="text-soft">
                  Application Deadline: <%= distance_of_time_in_words(Time.now, posting.deadline) %>
                </p>
                <!-- show the truncated job posting description -->
                <p>
                  <%= h truncate(posting.description, :length => 270) %>
                </p>
              </li>
            <% end %>
          <% else %>
            <p class="text-center">No posts</p>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
