<% content_for :title, "Select Job" %>


<div class="container-fluid container-lg">
  <div class="row">
    <div class="card">
      <div class="card-heading">
        <h4>Jobs</h4>
      </div>
      <div class="">
        <% if @vacant_jobs.any? %>
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <% @vacant_jobs.each do |job| %>
                  <tr class="">
                    <td class=""><%= link_to job.title, job %></td>
                    <td class=""><%= link_to job.organization.name, job.organization %></td>
                    <td class=""><%= job.description %></td>
                    <td class="">
                      <%= link_to "Create Job Posting", new_job_posting_path(:job_id => job.id), class: "align-center btn btn btn-primary" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p class="text-center">
            Currently No Vacant Jobs without Job Postings!
            <br>
            <%= link_to "View My Organizations", user_organizations_path, class: "align-center btn btn btn-primary mv" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
