<% content_for :title, "Job Postings" %>

<div class="container container-lg">
  <div class="card">
    <div class="card-body">
      <!-- render the dropdown-->
      <%= render 'job_posting_list_item_dropdown', posting: @jobposting %>
      <p class="lead"><%= link_to @job.title, job_path(:id => @job.id) %></p>
      <hr />
      <p>
        Application Deadline: <%= distance_of_time_in_words(Time.now, @jobposting.deadline) %> (<%= @jobposting.deadline.to_date %>)
      </p>
      <p>
        Organization: <%= link_to @organization.name, @organization %>
      </p>
      <p>
        <%= simple_format(@jobposting.description) %>
      </p>
    </div>

    <div class="card-footer">
      <%= link_to "Apply Now", new_job_posting_job_application_path(@jobposting.id), :class =>"btn btn btn-primary" %>
    </div>
  </div>
</div>
