<% content_for :title, "Job Postings" %>

<div class="container container-lg">
  <div class="card">
    <div class="card-body">
      <!-- render the dropdown-->
      <%= render 'job_posting_list_item_dropdown', posting: @jobposting %>
      <p class="lead"><%= link_to @job.title, job_path(:id => @job.id) %></p>
      <hr />
      <p>
        Application Deadline:
        <% if @jobposting.deadline.past? %>
          <%= @jobposting.deadline.to_date %>
        <% else %>
          in <%= distance_of_time_in_words(Time.now, @jobposting.deadline) %> (<%= @jobposting.deadline.to_date %>)
        <% end %>
      </p>
      <p>
        Organization: <%= link_to @organization.name, @organization %>
      </p>
      <p>
        Term: <%= @jobposting.start_date.to_date %> to <%= @jobposting.end_date.to_date %>
      </p>
      <p>
        <small>Last Updated: <%= @jobposting.updated_at.strftime("%A, %b %d, %Y, %l:%M %p") %>
        </small>
      </p>
      <div class="container container-sm reader-block">
        <p class="mv-lg">
          <%= simple_format(@jobposting.description) %>
        </p>
      </div>
    </div>

    <div class="card-footer">
      <%= link_to "Apply Now", new_job_posting_job_application_path(@jobposting.id), :class =>"btn btn-flat btn-primary btn-block" %>
    </div>
  </div>
</div>
