<% content_for :title, " / Manage Organizations" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">
    <h5>Create an Organization</h5>
    <div class="card">
      <div class="card-body">
        <%= form_for(@organization) do |f| %>
          <%= render 'shared/organization_error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>

          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control', style: 'resize:none' %>

          <%= f.label :users %>
          <%= select_tag "organization_users", options_from_collection_for_select(User.all, 'id', 'first_name',@organization.users.map { |j| j.id }), :multiple => true %>

          <hr>

          <%= f.submit "Create Organization", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>