<%= form_for @organization, :html => {:class => 'form-horizontal'} do |f| %>

  <!-- render any error messages -->
  <%= render 'shared/organization_error_messages' %>

  <!-- form fields -->
  <!-- name -->
  <fieldset class="last-child">
    <div class="form-group">
      <%= f.label :name, class: "col-sm-1 control-label" %>
      <div class="col-sm-11">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <!-- email -->
  <fieldset class="last-child">
    <div class="form-group">
      <%= f.label :email, class: "col-sm-1 control-label" %>
      <div class="col-sm-11">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </fieldset>

  <!-- description -->
  <fieldset>
    <div class="form-group">
      <%= f.label :description, class: "col-sm-1 control-label" %>
      <div class="col-sm-11">
        <%= f.text_area :description, class: 'form-control', style: 'resize:none' %>
      </div>
    </div>
  </fieldset>

  <!-- status -->
  <% if can? :manage, Organization %>
    <fieldset>
      <div class="row">
      <%= f.label :status, class: "col-sm-1 control-label" %>
        <!-- only admins are able to set the status -->
        <div class="col-sm-11">
            <%= f.select :status, Organization.statuses.keys.map { |w| [w.titleize, w] }, {}, {class: "form-control"} %>

        </div>
      </div>
    </fieldset>
  <% end %>

  <!-- department -->
  <fieldset class="last-child">
    <div class="row">
      <%= f.label :department, class: "col-sm-1 control-label" %>
        <!-- only admins are able to set the status -->
        <div class="col-sm-11">
          <%= f.select :department, Organization.departments.keys.map { |w| [w.titleize, w] }, {}, {class: "form-control"} %>
        </div>
    </div>
  </fieldset>

  <hr>

  <!-- create organization button -->
  <%= f.submit "Create Organization", class: "btn btn-primary btn-block" %>

<% end %>
