<!-- if user has the permissions to manage organizations show the dropdown -->
<% if can? :manage, organization %>

  <div class="pull-right dropdown">

    <!-- add the status label define in application helper -->
    <% if status %>
      <%= status_label_organization(organization) %>
    <% end %>
    <% if role %>
      <%= role_label_organization(organization) %>
    <% end %>

    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
    <!-- menu list -->
    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
      <!-- menu options for any item that is not archived -->
      <% if organization.status != "archived"  %>
        <!-- for organizations pending approval -->
        <% if organization.status == "waiting_approval" %>
          <li>
            <%= link_to "Approve Organization", approve_organization_path(organization) %>
          </li>
        <!-- for active organizations -->
        <% else %>
          <!-- you may only archive an organization if it is active -->
          <li>
            <%= link_to "Archive Organization", archive_organization_path(organization) %>
          </li>
          <li>
            <%= link_to "Withdraw Approval", withdraw_organization_path(organization) %>
          </li>
        <% end %>
      <!-- for archived organizations -->
      <% else %>
          <li>
            <%= link_to "Unarchive Organization", withdraw_organization_path(organization) %>
          </li>
      <% end %>

      <!-- for any organization -->
      <li>
        <%= link_to "Edit Organization", edit_organization_path(organization.id) %>
      </li>

      <li>
        <%= link_to "Delete Organization", organization, method: :delete,
          data: { confirm: "Are you sure?" } %>
      </li>
    </ul>
  </div>
<% end %>
