<!-- beginning of list item -->
<li class="list-group-item">


  <%= render 'organization_list_item_dropdown', organization: organization, status: status, role: role %>

  <!-- display the organization name -->
  <h5 class="mb-sm">
    <%= link_to organization_path(organization), class: "ripple" do %>
      <%= organization.name %>
    <% end %>
  </h5>


  <!-- display the organization contact email -->
  <p class="text-soft">
      <a href="<%= organization.email %>"><%= organization.email %></a>
  </p>

  <p class="text-soft">
    Department: <%= organization.department.titleize %>
  </p>

  <!-- display the organization truncated description -->
  <p>
    <%= h truncate(organization.description, :length => 270) %>
  </p>
</li>
