<!-- page title -->
<% content_for :title, "Admin Organizations" %>

    <!-- filtering header -->
    <div class="row mv">
      <div class="col-sm-4">
        <%= link_to(new_organization_path, class: "btn btn-primary") do %>
          <em class="ion-plus mr-sm"></em>Create Organization
        <% end %>
      </div>
      <div class="col-sm-8 text-right hidden-xs">
        <%= form_tag({controller: "organizations", action: "filter"}, method: "post", class:"form-inline") do %>
          <div class="form-group">
            <% select_list = Organization.statuses.keys.map { |w| [w.titleize, w] } %>
            <% select_list.insert(0,"All") %>
            <% department_list = Organization.departments.keys.map { |w| [w.titleize, w] } %>
            <% department_list.insert(0,"All") %>
            <%= label_tag 'Department', nil, class: 'mr' %>
            <%= select_tag :department, options_for_select(department_list, params[:department]), class: "form-control input-sm mr" %>
            <%= label_tag 'Status', nil, class: 'mr' %>
            <%= select_tag :status, options_for_select(select_list, params[:status]), class: "form-control input-sm" %>
            <%= submit_tag 'Filter', class: "ml btn btn-inverse" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- list of organization -->
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <% if @organizations.any? %>
            <% @organizations.each do |organization| %>
              <%= render 'organization_list_item', organization: organization, status: true, role: true %>
            <% end %>
          <% else %>
            <br /><br />
            <p class="lead text-center">No Organizations To Show</p>
          <% end %>
        </ul>
      </div>

      <% if @organizations.count > 9 %>
        <!-- show the paginator for the will_paginate gem -->
        <center><%= will_paginate @open_job_postings, renderer: BootstrapPagination::Rails, page_links: false %><br /></center>
      <% end %>

  </div>
