<% content_for :title, @organization.name %>

<div class="container-overlap bg-indigo-500">
    <!-- Breadcrumb next to view title-->
    <ul class="breadcrumb breadcrumb-lead">
      <li>
        <%= link_to "Organizations", organizations_path %>
      </li>
      <li class="active">
        <%= link_to organization_path do %>
          <%= @organization.name %>
        <% end %>
      </li>
    </ul>
  <div class="container container-md">
    <h2><%= @organization.name %></h2>
    <h4><%= @organization.email %></h4>
  </div>
</div>

<div class="container container-md">
  <div class="card">
    <div class="card-body reader-block">
      <div class="row">
        <h3>Description</h3>
        <p>
          <%= simple_format(@organization.description) %>
        </p>
      </div>
      <div class="row" id="jobs">
        <%= render "jobs_table" %>
      </div>
      <% if can? :manage, Organization %>
        <hr>
        <%= link_to "Edit Organization", edit_organization_path %>
      <% end %>
      <br>
      <% if can? :manage, Job %>
        <%= link_to "New Job", new_organization_job_path(@organization.id) %>
      <% end %>
    </div>
  </div>
</div>

