<% content_for :title, "Organization" %>

<div class="container-overlap bg-indigo-500">
  <div class="container container-md">
    <h2><%= @organization.name %></h2>
    <h4><%= @organization.email %></h4>
  </div>
</div>

<div class="container container-md">
  <div class="card">
    <div class="card-body reader-block">
      <div class="row">
        <h3>Description</h3>
        <p>
          <%= @organization.description %>
        </p>
      </div>
      <div class="row">
        <h3>Members</h3>
        <% if @organization.jobs.any? %>
          <% @organization.jobs.each do |jobs| %>
           <li>
            <%= jobs.user.first_name %> <%= jobs.user.last_name %> | <%= jobs.title %>
          </li>
          <% end %>
        <% else %>
          <div class="alert alert-warning">
            There are currently no members in this organization.
          </div>
        <% end %>
      </div>
      <% if can? :manage, Organization %>
        <hr>
        <%= link_to "Edit Organization", edit_organization_path %>
      <% end %>
      <br>
      <% if can? :manage, Job %>
        <%= link_to "View Jobs", organization_jobs_path(@organization.id) %>
      <% end %>
      <br>
      <% if can? :manage, Job %>
        <%= link_to "New Job", new_job_path(id: @organization) %>
      <% end %>
    </div>
  </div>
</div>

