<% content_for :title, "My Organizations" %>

<!-- container for the page -->
<div class="container-fluid container-md">

  <!-- filtering header -->
  <div class="row mv">
    <div class="col-sm-12 text-right hidden-xs">
      <%= form_tag({controller: "organizations", action: "filter_user"}, method: "post", class:"form-inline") do %>
        <div class="form-group">
          <% select_list = Organization.departments.keys.map { |w| [w.titleize, w] } %>
          <% select_list.insert(0,"All") %>
          <%= label_tag 'Department', nil, class: 'mr' %>
          <%= select_tag :department, options_for_select(select_list, params[:department]), class: "form-control input-sm" %>
          <%= submit_tag 'Filter', class: "ml btn btn-inverse" %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- main container for job postings -->
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <% if !current_user.organizations.any? %><br /><br />
              <p class="lead text-center">You are not a part of any organizations.</p>
            <% else %>
              <!-- iterate through all of user's orgs -->
              <% current_user.organizations.each do |organization| %>
                <%= render 'organization_list_item', organization: organization, status: false, role: true %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
