<% content_for :title, "Job Posting Questions" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">

    <ul class="breadcrumb breadcrumb-lead">
      <li>
        <%= link_to "Job Posts", job_postings_path %>
      </li>
      <li>
        <%= link_to @jobposting.title, edit_job_posting_path(@jobposting.id) %>
      </li>
      <li class="active">
        <%= link_to "Job Questions", job_posting_job_posting_questions_path %>
      </li>
    </ul>

    <h5>Questions for "<%= @jobposting.title %>"</h5>
    <p>
      These are the questions that will be asked to applicants for this job posting.
    </p>
    <div class="card">
      <div class="card-body">
        <% if @questions.any? %>
          This job posting currently has <%= @questions.count %> <%= 'question'.pluralize(@questions.count) %>.
          <%= render 'edit_job_posting_questions_form', questions: @questions %>
        <% else %>
          There are currently no questions.
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4>Add New Question</h4>
        <%= render 'create_job_posting_question_form' %>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p class="lead">
          Recommmended Questions:
        </p>
        <ul>
          <li>What are the dates &amp; times you'll be available for interviewing?</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <%= link_to "Complete", @jobposting, { :class=>"btn btn-flat btn-success btn-block"} %>
      </div>
    </div>
  </div>
</div>
