<!-- side navigation bar container -->
<aside class="sidebar-container">
  <!-- side navigation bar content -->
  <div class="sidebar-content">
    <!-- side navigation header -->
    <div class="sidebar-toolbar text-center"><a href=""><%= image_tag "centric/user/01.jpg", class: "img-circle thumb64" %></a>
      <div class="mt">
          <%= current_user.first_name %> <%= current_user.last_name %> <% if admin?(current_user) %>(Admin)<% end %>
      </div>
    </div>
    <!-- side navigation -->
    <nav class="sidebar-nav">
      <ul>
        <!-- dashboard link -->
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to root_path, class: "ripple" do %>
            <span class="nav-icon"><em class="ion-home icon-fw"></em></span><span>Home</span>
          <% end %>
        </li>
        <!-- orgs link -->
        <li class="<%= 'active' if (controller.controller_name.eql?('organizations') || controller.controller_name.eql?('jobs')) && (!controller.action_name.eql?('admin')) && (!controller.action_name.eql?('manage')) %>">
          <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-people icon-fw"></em></span><span>Organizations</span></a>
          <ul class="sidebar-subnav">
            <li class="<%= 'active' if (controller.action_name.eql?('index')) %>">
              <%= link_to organizations_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>View All</span>
              <% end %>
            </li>
            <li class="<%= 'active' if (controller.action_name.eql?('user')) %>">
              <%= link_to user_organizations_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>My Organizations</span>
              <% end %>
            </li>

          </ul>
        </li>
        <!-- jobs link -->
        <li class="<%= 'active' if ( (controller.controller_name.eql?('job_postings')) || (controller.controller_name.eql?('job_applications') && (controller.action_name.eql?('user'))) || (controller.controller_name.eql?('job_posting_answers')) || controller.action_name.eql?('select_resume')) && ( (!controller.action_name.eql?('manage')) && (!controller.action_name.eql?('admin')) ) %>">
          <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-list icon-fw"></em></span><span>Job Postings</span></a>
          <ul class="sidebar-subnav">
            <li class="<%= 'active' if (controller.controller_name.eql?('job_postings')) && (controller.action_name.eql?('index')) %>">
              <%= link_to job_postings_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>View Open Jobs</span>
              <% end %>
            </li>
            <li class="<%= 'active' if (controller.controller_name.eql?('job_applications')) && (controller.action_name.eql?('user')) %>">
              <%= link_to user_job_applications_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>My Applications</span>
              <% end %>
            </li>
          </ul>
        </li>
        <!-- anyone with ability to manage an organization can see extra items -->
        <% if can? :manage, Organization  %>
          <li role="separator" class="divider">
            <hr>
          </li>
          <!-- if a user can manage everything they can see the admin portal -->
          <% if can? :manage, :all  %>
          <li class="<%= 'active' if ( controller.action_name.eql?('admin') || ( controller.controller_name.eql?('users') && controller.action_name.eql?('index')) ) %>">
            <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-key icon-fw"></em></span><span>Admin</span></a>
            <ul class="sidebar-subnav">
              <% if can? :manage, User %>
              <li class="<%= 'active' if (controller.controller_name.eql?('users')) %>">
                <%= link_to profiles_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-person-stalker icon-fw"></em></span><span>Users</span>
                <% end %>
              </li>
              <% end %>
              <li class="<%= 'active' if (controller.controller_name.eql?('organizations')) %>">
                <%= link_to admin_organizations_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-people icon-fw"></em></span><span>Organizations</span>
                <% end %>
              </li>
              <li class="<%= 'active' if (controller.controller_name.eql?('positions')) %>">
                <%= link_to admin_positions_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-briefcase icon-fw"></em></span><span>Positions</span>
                <% end %>
              </li>
              <li class="<%= 'active' if (controller.controller_name.eql?('job_postings')) %>">
                <%= link_to admin_job_postings_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-list icon-fw"></em></span><span>Job Postings</span>
                <% end %>
              </li>
              <li class="<%= 'active' if (controller.controller_name.eql?('interviews')) %>">
                <%= link_to admin_interviews_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-android-calendar icon-fw"></em></span><span>Job Interviews</span>
                <% end %>
              </li>
            </ul>
          </li>
          <% end %>
          <% if can? :manage, Organization  %>
          <li class="<%= 'active' if (controller.action_name.eql?('manage') || (controller.controller_name.eql?('job_applications') && ( (controller.action_name.eql?('index')) || (controller.action_name.eql?('show')) ) || (controller.action_name.eql?('view'))) || ( (controller.controller_name.eql?('interviews')) && (controller.action_name.eql?('manage')) ) ) %>">
            <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-social-buffer icon-fw"></em></span><span>Manage</span></a>
            <ul class="sidebar-subnav">
              <li class="<%= 'active' if (controller.controller_name.eql?('organizations')) %>">
                <%= link_to manage_organizations_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-people icon-fw"></em></span><span>Organizations</span>
                <% end %>
              </li>
              <li class="<%= 'active' if ( controller.controller_name.eql?('job_postings') || (controller.controller_name.eql?('job_applications') && ((controller.action_name.eql?('index')) || (controller.action_name.eql?('show')))) ) %>">
                <%= link_to manage_job_postings_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-list icon-fw"></em></span><span>Job Postings</span>
                <% end %>
              </li>
              <li class="<%= 'active' if (controller.controller_name.eql?('interviews')) %>">
                <%= link_to manage_interviews_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-android-calendar icon-fw"></em></span><span>Job Interviews</span>
                <% end %>
              </li>
            </ul>
          </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-layout-obfuscator"></div>
