<!-- side navigation bar container -->
<aside class="sidebar-container">
  <!-- side navigation bar content -->
  <div class="sidebar-content">
    <!-- side navigation header -->
    <div class="sidebar-toolbar text-center"><a href=""><%= image_tag "centric/user/01.jpg", class: "img-circle thumb64" %></a>
      <div class="mt">
          <%= current_user.first_name %> <%= current_user.last_name %>
      </div>
    </div>
    <!-- side navigation -->
    <nav class="sidebar-nav">
      <ul>
        <!-- dashboard link -->
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to root_path, class: "ripple" do %>
            <span class="nav-icon"><em class="ion-home icon-fw"></em></span><span>Home</span>
          <% end %>
        </li>
        <!-- orgs link -->
        <li class="<%= 'active' if (controller.controller_name.eql?('organizations')) %>">
          <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-people icon-fw"></em></span><span>Organizations</span></a>
          <ul class="sidebar-subnav">
            <li class="<%= 'active' if (controller.controller_name.eql?('organizations')) && (controller.action_name.eql?('index')) %>">
              <%= link_to organizations_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>View All</span>
              <% end %>
            </li>
            <li class="<%= 'active' if (controller.controller_name.eql?('organizations')) && (controller.action_name.eql?('user_organizations')) %>">
              <%= link_to user_organizations_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>My Organizations</span>
              <% end %>
            </li>

          </ul>
        </li>
        <!-- jobs link -->
        <li class="<%= 'active' if ( (controller.controller_name.eql?('job_postings')) || (controller.controller_name.eql?('job_applications')) ) %>">
          <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-list icon-fw"></em></span><span>Job Postings</span></a>
          <ul class="sidebar-subnav">
            <li class="<%= 'active' if (controller.controller_name.eql?('job_postings')) && (controller.action_name.eql?('index')) %>">
              <%= link_to job_postings_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>View Open Jobs</span>
              <% end %>
            </li>
            <li class="<%= 'active' if (controller.controller_name.eql?('job_applications')) && (controller.action_name.eql?('user_job_applications')) %>">
              <%= link_to user_job_applications_path, class: "ripple" do %>
                <span class="pull-right nav-label"></span><span>My Applications</span>
              <% end %>
            </li>
          </ul>
        </li>
        <!-- Just superadmin logic so far -->
        <% if can? :manage, :all %>
          <li role="separator" class="divider">
            <hr>
          </li>
          <li class="dropdown-header">
            Super User
          </li>
          <li class="active">
            <a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-key icon-fw"></em></span><span>Admin</span></a>
            <ul class="sidebar-subnav">
              <li class="<%= 'active' if (controller.controller_name.eql?('users')) %>">
                <%= link_to profiles_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-person-stalker icon-fw"></em></span><span>Users</span>
                <% end %>
              </li>
              <li class="<%= 'active' if (controller.controller_name.eql?('organizations')) && ( (controller.action_name.eql?('manage')) || (controller.action_name.eql?('new')) ) %>">
                <%= link_to organizations_manage_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-people icon-fw"></em></span><span>Organizations</span>
                <% end %>
              </li>
              <li class="<%= 'active' if (controller.controller_name.eql?('job_postings')) && ( (controller.action_name.eql?('manage')) || (controller.action_name.eql?('new')) || (controller.action_name.eql?('select')) ) %>">
                <%= link_to manage_job_postings_path, class:"ripple" do %>
                  <span class="pull-right nav-label"></span><span class="nav-icon"><em class="ion-ios-list icon-fw"></em></span><span>Job Postings</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-layout-obfuscator"></div>
