<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> - Engineering Society Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
      <body class="theme-6">
      <div class="layout-container">

        <%= render 'layouts/header' %>
        <%= render 'layouts/sidenav' %>

        <!-- main section -->
        <main class="main-container">



          <!-- page content -->
          <section>
            <div class="container-fluid container-md">
              <% flash.each do |key, value| %>
                <%= content_tag :div, value, class: "alert alert-#{key} " %>
              <% end %>
              <%= yield %>
            </div>

          </section>
          <%= render 'layouts/footer' %>
        </main>
      </div>
    </body>
  <!-- load the login page otherwise -->
  <% else %>
    <body>
      <%= yield %>
    </body>
  <% end %>
</html>
