<!-- Purpose: To provide engineering students a kickass online hub that serves all of their Engineering Society needs. -->
<!-- Authors: Robert Saunders & Peter Ju (2017) -->
<!-- Contact: 12sj16@queensu.ca -->
<!-- Contribute: You're looking at the source code which means you are interested in the project, contribute at: https://github.com/RobertWSaunders/engsoc-dash -->
<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <head>
    <title><%= yield(:title) %> - Engineering Society Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- body -->

  <% if user_signed_in? %>
      <body class="theme-6">
        <div class="layout-container">
          <!-- render the header -->
          <%= render 'layouts/header' %>
          <!-- render the side navigation menu -->
          <%= render 'layouts/sidenav' %>
          <!-- main section -->
          <main class="main-container">
            <section>
                <!-- show flash messages if there are any -->
                <% flash.each do |key, value| %>
                  <% if key == 'notice' %>
                    <%= content_tag :div, class: "mt mr ml alert alert-success", data: { dismiss: "alert" } do %>
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <%= value.html_safe %>
                    <% end %>
                  <% elsif key == 'alert' %>
                    <%= content_tag :div, class: "mt mr ml alert alert-alert", data: { dismiss: "alert" } do %>
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <%= value.html_safe %>
                    <% end %>
                  <% else %>
                    <%= content_tag :div, class: "mt mr ml alert alert-#{key}", data: { dismiss: "alert" } do %>
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <%= value.html_safe %>
                    <% end %>
                  <% end %>
                <% end %>
                <!-- yield page content -->
                <%= yield %>
            </section>
            <!-- render the footer of the page -->
            <%= render 'layouts/footer' %>
          </main>
        </div>
      </body>
<% else %>
    <body>
      <%= yield %>
    </body>
  <% end %>
</html>
